/*Cores*/

:root {
    --color-a: #dee2e6;
    --color-b: #fafafa;
    --color-c: #353535;
    --color-d: #141414;
    --color-e: #ffffff;
    --color-f: #152e42;
    --color-g: #204766;
    --color-h: #336792;
    --color-i: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: background-color 0.3s, color 0.3s;
}

main {
    background-color: var(--color-e);
    color: var(--color-d);

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;

    background-color: var(--color-b);
}

nav a {
    padding: 2vh;

    font-weight: 700;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-c);
}

nav a:hover {
    text-decoration: underline;
}

nav button {
    font-weight: 700;
    padding: 1vh 1.5vw;
    border-radius: 10px;
    background-color: var(--color-a);
    color: var(--color-c);
    border: none;
    cursor: pointer;

    transition: background-color 0.3s, color 0.3s; /*animação do clique no botão*/
}

nav button:hover {
     background-color: var(--color-c);
     color: var(--color-a);
}

nav button:active {
    background-color: var(--color-d);
    color: var(--color-e)
}

/*Fim da barra de navegação*/

.aside-container {
    position: fixed;
    top: 18.7vw;
    left: -20vw;
    z-index: 1000;

    transition: left 0.4s;
}

.hidden {
    display: none;
}

.aside-container-icons {
    display: flex;
    height: 20vh;
    width: 2vw;
    padding: 1vh 0.4vh 1vh 0.3vh;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    border-radius: 60px;
}

.aside-container-icons a:hover {
    background-color: var(--color-b);
}
.aside-container-icons a svg {
    width: 0.9vw;
    height: auto;
    margin-left: 1.1vh;
    cursor: pointer;
    opacity: 70%;
}

body.modo-noturno .aside-container-icons a svg {
    filter: invert(100%);
}

.aside-container-icons a {
    padding: 1vh 1vh 0.5vh 0vh;
    border-radius: 50px;

    transition: background-color 0.3s;
}

/*Fim da sessão da barra lateral*/

.trabalho-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 90vh;
    margin-left: 15vw;
    justify-content: space-around;
}

.trabalho-container-titulo  {
    font-size: 3vw;
    color: var(--color-d);
}

.trabalho-container-titulo h1 {
    animation:fadeInUp 1.2s ease backwards; /*animação fade in up da pagina*/
}

.trabalho-container-titulo h3 {
    font-weight: 400;
    color: var(--color-c);
    animation:fadeInUp 0.5s ease backwards; /*animação fade in up da pagina*/
}

.trabalho-container-titulo h2 {
    font-weight: 600;
    color: var(--color-c);
    animation:fadeInUp 1s ease backwards; /*animação fade in up da pagina*/
}

.trabalho-container-texto {
    color: var(--color-c);
    text-align: justify;
    animation:fadeInUp 1.5s ease backwards; /*animação fade in up da pagina*/
}

.trabalho-container button {
    align-self: flex-end;
    width: 10vw;
    height: 6vh;

    font-size: 1.5vh;
    font-weight: 700;
    padding: 0 1vh;
    border-radius: 10px;
    background-color: var(--color-f);
    color: var(--color-a);
    border: none;
    cursor: pointer;

    transition: background-color 0.3s, color 0.3s;
    animation:fadeInUp 2s ease backwards; /*animação fade in up da pagina*/
}

.trabalho-container button:hover{
    background-color: var(--color-g);
    color: var(--color-a);
}

.trabalho-container button:active{
    background-color: var(--color-c);
    color: var(--color-a);
}

/*Fim da pagina trabalho*/

.projetos-container {
    display: flex;
    flex-direction: column;
    padding: 1vh;
    width: 70%;
    height: 95vh;
    margin-left: 15vw;
}

.projetos-container h1{
    margin-top: 2vh;
}

.projetos-container-galeria{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15vh;
    max-height: 100%;
}

.projeto {
    max-width: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2vh;
    font-size: 1.5vh;
    text-align: justify;
    color: var(--color-c);
    
    box-shadow: #00000031 0px 10px 10px 2px;
    background-color: var(--color-i);
    transition: all 0.3s ease;
}

.projeto-texto-oculto {
    position: absolute;
    z-index: 1000;
    color: #dee2e6;
    left: 2.2vw;
    top: 2.5vw;
    opacity: 0; 
    transition: opacity 0.5s ease;
}

.projeto:hover .projeto-texto-oculto {
    opacity: 1; /* Ao passar o mouse, aumenta a opacidade para 1 */
}

.projeto:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(0.9);
}

.projeto img {
    position: relative;
    max-width: 100%;
    height: auto;
    margin-bottom: 1vh;
}

.projeto h1 {
    align-self: flex-start;
    margin-bottom: 0.5vh;
    font-size: 1.6vh;
}

.projeto p {
    margin-bottom: 1vh;
}

.projeto-icones{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
    width: 12vw;
    height: 100%;
    opacity: 80%;
}

.projeto-icones a svg {
    width: 1vw;
    height: auto;
    margin-right: 1.6vh;
}

/*fim da pagina dos projetos*/

.sobre-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10vh;
    height: 100vh;
    justify-content: space-between;

    border-radius: 50px;
    background-color: var(--color-a);
}

.sobre-container-texto {
    margin-left: 9vw;
    display: flex;
    flex-direction: column;
    width: 40vw;
    text-align: justify;
}

.sobre-container-texto h1, .sobre-container-texto p {
    margin-bottom: 5vh;
}

.sobre-container-texto a {
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-c);
}

.sobre-container-texto a:hover {
    text-decoration: underline;
}

.sobre-container-item {
    margin-right: 12vh;
    align-self: center;
    justify-self: center;
    width: 12vw;
    height: 35vh;

    border-radius: 10px;
    background-color: var(--color-f);
}

/*Fim da pagina sobre*/

.contato-container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding:  5vh;
    text-align: center;
    
    color: var(--color-d);
}

.contato-container h2 {
    margin-top: 25vh;
    margin-bottom: 2vh;
}

.contato-container p {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 50vw;
}

.contato-container-icones {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 5%;
    width: 10vw;
}

.contato-container-icones a svg {
    opacity: 90%;
    width: 1.4vw;
    height: auto;
}

body.modo-noturno .contato-container-icones a svg {
    filter: invert(100%);
}

/*Fim da pagina contato*/

/*MOBILE*/
@media screen and (max-width: 999px) {
    nav a {
        display: none;
    }

    /*Fim da barra de navegação*/
    .aside-container {
        top: 90vh;
    }

    .aside-container-icons {
        display: none;
    }

    /*Fim da barra lateral desktop*/

    .trabalho-container-titulo {
        font-size: 4.5vw;
    }

    .trabalho-container button {
        width: 40vw;
        height: 5vh;
    }

    /*Fim da pagina de trabalho*/
    .projeto {
        max-width: 50vw;
    }

    .projetos-container {
        height: 165vh;
    }

    .projetos-container h1 {
    text-align: center;
    }

    .projetos-container-galeria {
        height: 100%;
        margin-top: 8vh;
        font-size: 0.1vw;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .projeto img {
        max-width: 117.4%;
    }

    .projeto-icones a svg {
        display: none;
    }


}

/*Fim da sessão de projetos*/

.sobre-container-texto {
    width: 100vw;
}

/*ANIMAÇÕES*/

@keyframes fadeInUp{
  0%{transform:translate(0px, 100px); opacity: 0;}
  100%{transform:translate(0px, 0); opacity: 1;}
}

@keyframes slideFade{
    0%{transform:translateX(-100px); opacity: 0;}
    100%{transform: translateX(0); opacity: 1;}
}

@keyframes slideFadeOut{
    0%{transform:translateX(0); opacity: 1;}
    100%{transform: translateX(-100px); opacity: 0;}
}
